<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="cardsDeProdutos1">
        <div class="wrapper1">
            <h1>Produtos BEM Avaliados</h1>
            <ul class="carouselProducts1" id="productList1">
                <div class="event-card1">
                    <li class="card1">
                        <div class="img"><img
                                src="https://m.media-amazon.com/images/I/614rD3cc6ML._AC_UF1000,1000_QL80_.jpg"
                                alt="img" draggable="false" class="product-image1"
                                data-img-src="img/livros/Livro do Desassossego.jpg"></div>
                        <br>
                        <div><strong class="product-title1">RAÇÃO VITAMINAL FULL</strong> <br>
                            <strong class="author-title1">PEDIGREE</strong>
                            <div class="product-price-container1"> <br>
                                <button class="product-price1">R$39,99</button> <br>
                                <a href="javascript:void(0);" class="button1">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="event-card1">
                    <li class="card1">
                        <div class="img"><img
                                src="https://m.media-amazon.com/images/I/614rD3cc6ML._AC_UF1000,1000_QL80_.jpg"
                                alt="img" draggable="false" class="product-image1"
                                data-img-src="img/livros/Livro do Desassossego.jpg"></div>
                        <br>
                        <div><strong class="product-title1">RAÇÃO VITAMINAL FULL</strong> <br>
                            <strong class="author-title1">PEDIGREE</strong>
                            <div class="product-price-container1"> <br>
                                <button class="product-price1">R$39,99</button> <br>
                                <a href="javascript:void(0);" class="button1">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="event-card1">
                    <li class="card1">
                        <div class="img"><img
                                src="https://m.media-amazon.com/images/I/614rD3cc6ML._AC_UF1000,1000_QL80_.jpg"
                                alt="img" draggable="false" class="product-image1"
                                data-img-src="img/livros/Livro do Desassossego.jpg"></div>
                        <br>
                        <div><strong class="product-title1">RAÇÃO VITAMINAL FULL</strong> <br>
                            <strong class="author-title1">PEDIGREE</strong>
                            <div class="product-price-container1"> <br>
                                <button class="product-price1">R$39,99</button> <br>
                                <a href="javascript:void(0);" class="button1">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="event-card1">
                    <li class="card1">
                        <div class="img"><img
                                src="https://m.media-amazon.com/images/I/614rD3cc6ML._AC_UF1000,1000_QL80_.jpg"
                                alt="img" draggable="false" class="product-image1"
                                data-img-src="img/livros/Livro do Desassossego.jpg"></div>
                        <br>
                        <div><strong class="product-title1">RAÇÃO VITAMINAL FULL</strong> <br>
                            <strong class="author-title1">PEDIGREE</strong>
                            <div class="product-price-container1"> <br>
                                <button class="product-price1">R$39,99</button> <br>
                                <a href="javascript:void(0);" class="button1">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="event-card1">
                    <li class="card1">
                        <div class="img"><img
                                src="https://m.media-amazon.com/images/I/614rD3cc6ML._AC_UF1000,1000_QL80_.jpg"
                                alt="img" draggable="false" class="product-image1"
                                data-img-src="img/livros/Livro do Desassossego.jpg"></div>
                        <br>
                        <div><strong class="product-title1">RAÇÃO VITAMINAL FULL</strong> <br>
                            <strong class="author-title1">PEDIGREE</strong>
                            <div class="product-price-container1"> <br>
                                <button class="product-price1">R$39,99</button> <br>
                                <a href="javascript:void(0);" class="button1">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
            


            <i id="left"> < </i>
            <i id="right"> > </i>
        </div>
    </section>
    <script src="scriptCar.js"></script>
</body>

</html>