/* CARDS INICIAL */
.cardsDeProdutos1{
  display: flex;
  justify-content: center;
}

.wrapper1 {
  max-width: 1500px;
  width: 100%;
  position: relative; 

}
.wrapper1 i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
} 

.wrapper1 i:first-child{
  left: -50px;
}

.wrapper1 i:last-child{
  right: -22px;
}

.wrapper1 .carouselProducts1{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5));
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 10px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.card1{
  box-shadow: 0px 0px 5px #242424;
}


.carouselProducts1::-webkit-scrollbar {
  display: none;
}

.carouselProducts1 .card1 {
  scroll-snap-align: start;
  height: 360px;
  list-style: none;
  background: rgb(146, 132, 23);
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
}

.card1 .img img{
  margin-top: 25px;
  width: 100px;
  height: 100px;
}

.product-price1{
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 7px #000;
}


.button1{
  font-size: 22px;
  text-decoration: none;
  border-radius: 15px;
  width: 200px;
  padding: 5px;
  background-color: aquamarine;
  margin-top: 5px;
  border: none;
  color: black;
  box-shadow: 0px 0px 7px #000;

}

.desconto{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desconto svg{
  margin-top: 7px;
  margin-right: 7px;
}

.desconto button{
  margin-top: 7px;
  margin-left: 7px;
  border: none;
  padding: 5px;
  border-radius: 15px;
  font-size: 19px;
  font-weight: bold;
  color:white;
  background-color: rgb(77, 255, 0);
  box-shadow: 0px 0px 7px #000;
}

.product-title1{
  font-weight: bold;
  font-size: 21px;
}

.author-title1{
  font-weight: bold;
  font-size: 18px;
}

.cartIcon{
  float: right;
  margin-top: 11px;
  margin-right: 10px;
}