
<body>

<div class="divVazia"></div>


<section class="local" >
    <div class="describe">
        <p class="titulo">LOCALIZAÇÃO 🟢🟡🔵</p>
        <p>Bem-vindo ao Animalia, um paraíso para os amantes de animais! Com uma localização privilegiada na bela Suíça, nossa loja oferece uma experiência única para os tutores de animais de estimação. Situada em meio às encantadoras paisagens alpinas, nossa loja é um refúgio para aqueles que buscam os melhores produtos e cuidados para seus animais.</p>
        <p>Na loja Animalia na Suíça, os clientes encontram uma ampla variedade de produtos premium para todas as necessidades dos seus companheiros peludos. Desde alimentos saudáveis e brinquedos até acessórios de luxo e produtos de higiene, garantimos que cada item em nossas prateleiras é cuidadosamente selecionado para atender aos mais altos padrões de qualidade e bem-estar animal.</p>
        <p>Além disso, estamos orgulhosos em anunciar que o sucesso e a dedicação nos permitiram expandir nossos horizontes para o Brasil, onde inauguramos uma loja igualmente encantadora. Localizada em um dos destinos mais vibrantes e acolhedores do Brasil, nossa loja no país oferece a mesma excelência e cuidado que nos tornaram reconhecidos na Suíça.</p>
    </div>

    <div class="imgLocal">
        <img src="..//../assets/img/ruaAnimalia.png" alt="">
    </div>
</section>


<section class="contatos" >
    <h1>Envei-nos um correio Eletrônico!</h1>
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>São Paulo</option>
            <option>Berna</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
</section>

</body>
