@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  background-image: url(..//..//assets/img/switzerland.jpg);
  background-attachment: fixed;
  height: 200vh;
}

.divVazia {
  height: 200px;
}

.local {
  font-family: 'Alfa Slab One', serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-image:url(..//..//assets/img/haras.png); */
}

.describe .titulo {
  text-align: center;
  font-size: 25px;
}

.describe {
  background: rgb(97, 177, 80);
  background: linear-gradient(0deg, rgba(97, 177, 80, 1) 0%, rgba(208, 144, 8, 1) 100%);
  letter-spacing: 0.5px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000000;
  width: 800px;
  padding: 15px;
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.imgLocal img {
  width: 800px;
  height: 800px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000000;
}

.contatos {
  margin-top: 100px;
  width: 1000px;
  background: rgb(97, 177, 80);
  background: linear-gradient(0deg, rgba(97, 177, 80, 0.8493522408963585) 0%, rgba(208, 144, 8, 0.8521533613445378) 100%);
  border-radius: 25px;
  box-shadow: 0px 0px 10px #000000;
  padding: 20px;
  font-family: 'Alfa Slab One', serif;
  margin-left: 420px;
  margin-bottom: 100px;
}

.contatos h1 {
  text-align: center;
}


/* Estilos padrão para telas maiores que 768px */
/* ... seus estilos existentes ... */

/* Estilos para telas menores que 768px */
@media screen and (max-width: 768px) {
  .divVazia {
    height: 50px;
    /* Reduz a altura da div vazia */
  }

  .local {
    flex-direction: column;
    /* Altera para um layout de coluna */
    align-items: center;
    /* Centraliza os elementos horizontalmente */
    margin-top: 100px;
    /* Ajusta a margem no topo */
  }

  .describe {
    width: 90%;
    /* Reduz a largura do container de descrição */
    font-size: 18px;
    /* Diminui o tamanho da fonte */
    padding: 10px;
    /* Reduz o padding */
    margin-bottom: 50px;
    /* Ajusta a margem inferior */
  }

  .imgLocal img {
    width: 90%;
    /* Reduz a largura da imagem */
    height: auto;
    /* Altura automática para manter a proporção */
  }

  .contatos {
    width: 90%;
    /* Reduz a largura do container de contatos */
    margin-left: auto;
    /* Centraliza horizontalmente */
    margin-right: auto;
    margin-bottom: 50px;
    /* Ajusta a margem inferior */
  }

  .contatos h1 {
    font-size: 24px;
    /* Diminui o tamanho da fonte do título */
  }
}
