<body>
  <div class="gamb"></div>

  <section class="parteOne">
    <div class="escrita">
      <H2>ANIMALIA</H2>
      <p>Localizada no coração da cidade, a Animalia é muito mais do que uma simples loja de produtos para animais. É um refúgio acolhedor para todos os amantes de animais, um santuário onde a paixão pelos nossos amigos de quatro patas se une à expertise em produtos de qualidade e treinamento especializado.</p>
      <P>Ao adentrar a Animalia, você se depara com um universo dedicado aos animais, repleto de itens cuidadosamente selecionados para atender às necessidades de seus companheiros peludos. Desde rações especiais até brinquedos e acessórios exclusivos, cada produto é escolhido com o bem-estar e a felicidade dos animais em mente.</P>
      <p>Além disso, a Animalia se destaca por oferecer programas de treinamento excepcionais para cavalos. Com instrutores altamente qualificados e uma abordagem personalizada, os proprietários podem encontrar cursos desde doma até técnicas avançadas de equitação. A dedicação à excelência e ao cuidado com os cavalos é evidente em cada aspecto do treinamento oferecido.</p>
      <p>Nossa loja não é apenas um ponto de venda, mas sim um ponto de encontro para a comunidade de amantes de animais. Oferecemos eventos educativos, palestras e workshops para enriquecer o conhecimento dos donos e promover a saúde e o bem-estar dos seus animais de estimação.</p>
      <p>Na Animalia, cada animal é valorizado e cada cliente é recebido com calorosa hospitalidade. Estamos comprometidos em oferecer produtos de qualidade superior e serviços especializados para garantir que cada visita seja uma experiência gratificante tanto para os humanos quanto para os nossos amigos de quatro patas. Venha nos visitar e faça parte da nossa família Animalia!</p>
    </div>

    <div class="imgNice">
      <img src="..//../../assets/img/toBanner.png" alt="">
    </div>
  </section>

</body>
