<body>
  <div class="gamb"></div>

  <section class="parteOne">
    <div class="escrita">
      <H2>ANIMALIA</H2>
      <p>Localizada no coração da cidade, a Animalia é muito mais do que uma simples loja de produtos para animais. É um refúgio acolhedor para todos os amantes de animais, um santuário onde a paixão pelos nossos amigos de quatro patas se une à expertise em produtos de qualidade e treinamento especializado.</p>
      <P>Ao adentrar a Animalia, você se depara com um universo dedicado aos animais, repleto de itens cuidadosamente selecionados para atender às necessidades de seus companheiros peludos. Desde rações especiais até brinquedos e acessórios exclusivos, cada produto é escolhido com o bem-estar e a felicidade dos animais em mente.</P>
      <p>Além disso, a Animalia se destaca por oferecer programas de treinamento excepcionais para cavalos. Com instrutores altamente qualificados e uma abordagem personalizada, os proprietários podem encontrar cursos desde doma até técnicas avançadas de equitação. A dedicação à excelência e ao cuidado com os cavalos é evidente em cada aspecto do treinamento oferecido.</p>
      <p>Nossa loja não é apenas um ponto de venda, mas sim um ponto de encontro para a comunidade de amantes de animais. Oferecemos eventos educativos, palestras e workshops para enriquecer o conhecimento dos donos e promover a saúde e o bem-estar dos seus animais de estimação.</p>
      <p>Na Animalia, cada animal é valorizado e cada cliente é recebido com calorosa hospitalidade. Estamos comprometidos em oferecer produtos de qualidade superior e serviços especializados para garantir que cada visita seja uma experiência gratificante tanto para os humanos quanto para os nossos amigos de quatro patas. Venha nos visitar e faça parte da nossa família Animalia!</p>
    </div>

    <div class="imgNice">
      <img src="..//../../assets/img/toBanner.png" alt="">
    </div>
  </section>

  <section class="parteTwo">

    <div class="imgBacana">
      <img src="..//../../assets/img/imageToBanner.png" alt="">
    </div>

    <div class="escritaDois">
      <h2>NOSSOS PRODUTOS</h2>
      <p>A jornada da Animalia começou nas encantadoras terras de Berna, na Suíça, onde a paixão pelos animais e o comprometimento com seu bem-estar deram origem a uma pequena loja de produtos especializados. Inspirados pela rica tradição e cuidado suíço para com os animais, os fundadores da Animalia buscavam oferecer qualidade excepcional e atenção meticulosa a cada detalhe.</p>
      <p>Iniciando como uma loja modesta, a Animalia rapidamente ganhou reputação por sua dedicação à excelência. Os produtos de alta qualidade, cuidadosamente selecionados para atender às necessidades dos animais, tornaram-se um ponto de referência para os amantes de pets na região. A reputação crescente e a busca incessante por proporcionar o melhor aos animais levaram a Animalia a expandir suas operações.</p>
      <p>Com o tempo, a ideia de compartilhar não apenas produtos de alta qualidade, mas também conhecimento e técnicas de treinamento excepcionais para cavalos começou a ganhar força. A experiência suíça em lidar com equinos, combinada com a paixão pela excelência, motivou a Animalia a introduzir programas de treinamento inovadores.</p>
      <p>A demanda por métodos de treinamento de cavalos éticos e eficazes cresceu rapidamente, e a Animalia respondeu adaptando-se ao novo cenário. A equipe de especialistas em cavalos, trazendo consigo os valores e a experiência adquiridos na Suíça, incorporou esses métodos à cultura da empresa.</p>
      <p>Assim, ao trazer a expertise suíça para o Brasil, a Animalia expandiu seu alcance, oferecendo não apenas uma variedade incomparável de produtos para animais, mas também se tornou um centro respeitado de treinamento equino. O compromisso inabalável com a qualidade, a ética e o bem-estar dos animais continua a ser o alicerce da jornada da Animalia, proporcionando uma experiência única e integrada para todos os amantes de animais e entusiastas de cavalos no Brasil.</p>
    </div>

  </section>

  <section class="parteThree">

    <div class="escritaTres">
      <h2>CORRIDAS</h2>
      <p>Líderes no mundo das corridas de cavalos, o Grupo Animalia solidificou seu nome como uma potência imbatível no cenário competitivo. A história gloriosa desses cavalos extraordinários, treinados com precisão pela equipe de especialistas da Animalia, é marcada por uma sequência impressionante de vitórias e estatísticas inigualáveis.</p>
      <p>Com uma filosofia enraizada na excelência, o Grupo Animalia alcançou feitos notáveis nas principais competições de corridas de cavalos, acumulando um histórico de vitórias que não tem paralelo. Desde clássicos tradicionais até corridas de prestígio internacional, os cavalos treinados pela Animalia deixaram sua marca indelével nos circuitos de corridas.</p>
      <p>A precisão dos métodos de treinamento, combinada com a dedicação incansável dos treinadores e o cuidado meticuloso com cada animal, resultou em um desempenho excepcional. Os cavalos do Grupo Animalia não apenas alcançaram vitórias consistentes, mas também quebraram recordes, exibindo um desempenho excepcional e uma determinação imparável.</p>
      <p>A trajetória de sucesso do Grupo Animalia é pontuada por estatísticas impressionantes de vitórias consecutivas em corridas renomadas, cativando audiências e conquistando admiradores em todo o mundo. Com uma abordagem baseada na técnica, no amor pelos cavalos e na dedicação à evolução constante, o Grupo Animalia se tornou um símbolo de excelência e conquistou um lugar de destaque no pódio das corridas de cavalos.</p>
    </div>

        <div class="imgTop">
      <img src="..//../../assets/img/trofeuUm.png" alt="">
    </div>

  </section>

  <div class="di">
    
  </div>

</body>
