@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.container1 {
  max-width: 1600px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart{
  margin-right: 20px;
  cursor: pointer;
  padding: 2px;
}


.cartProdutos{
  margin-right: 20px;
  cursor: pointer;
  padding: 2px;
}

.search{
  border-radius: 20px;
  font-size: 17px;
  height: 40px;
  padding: 5px;
}


header img{
  height: 160px;
  margin-left: -50px;
}

header {
  width: 100%;
  margin-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
  font-family: 'Alfa Slab One', serif;
  font-weight:lighter;
  display: flex;
  align-items: center;
}

header .ul {
  list-style-type: none;
  background-color: #EE9C2E;
  border-radius: 25px;
  padding: 10px;
}

header .ul li {
  display: inline-block;
  margin: 0 40px;
  padding: 5px;
}

header .ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 1px;
  background-color: #EE9C2E;
}

header .ul li a:hover {
  background-color: #4c975b;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.btn-contato button {
  width: 150px;
  height: 50px;
  font-size: 25px;
  border: 0;
  background-color: #4c975b;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  border: none;
  padding: 5px;
  border-radius: 40px;
  font-family: 'Alfa Slab One', serif;
  box-shadow: 0px 0px 5px #000000;
  margin-top: -15px;
  margin-left: 10px;
}

.btn-contato button:hover {
  background-color: #EE9C2E;
  box-shadow: 0px 0px 7px #000000;
}

.imgLogado img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid #7bc98a;
  box-shadow: #000000 0px 0px 10px;
  margin-left: 40px;
}

.btnSair{
  margin-left: 20px;
  border-radius: 20px;
  background-color: #4c975b;
  padding: 10px;
  border: none;
  width: 70px;
  box-shadow: 0px 0px 10px #000000;
  cursor: pointer;
}

.btnSair:hover{
  background-color: #2f693a;
  box-shadow: 0px 0px 13px #000000;
}


/* Existing styles */

/* ... */

/* Media query for max-width 768px */
@media only screen and (max-width: 768px) {
  header {
    margin-top: 20px;
  }

  .flex {
    flex-direction: column;
    align-items: stretch;
  }

  header img {
    height: 100px;
    margin-left: 40%;
    margin-bottom: 10px;
  }

  .ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .ul li {
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  .ul li a {
    display: block;
    padding: 10px;
    margin: 0;
  }

  .btn-contato button {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .imgLogado img {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

/* Media query for max-width 500px */
@media only screen and (max-width: 500px) {
  .search {
    width: 100%;
  }
}

