<header id="header">
    <div class="container1">
        <div class="flex">
            <a href="#"><img src="..//../../assets/img/Logo_animalia.png" alt=""></a>
            <nav>
                <ul>
                    <li><a href="/sobre">SOBRE NÓS</a></li>
                    <li><a href="/produtos">PRODUTOS</a></li>
                    <li><a href="/painel-produtos">AGENDAMENTOS</a></li>
                    <li><a href="#">TREINAMENTOS</a></li>
                </ul>
            </nav>
                <a class="btn-contato" href="/login"><button>ENTRAR</button></a>
        </div><!--flex-->
    </div><!--container-->
</header>
