.container1 {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  margin-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
  font-family: 'Marcellus', serif;
  display: flex;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 40px;

}

header ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

header ul li a:hover {
  color: #4c975b;
  font-size: 25px;
}


.btn-contato button {
  width: 125px;
  height: 50px;
  font-size: 25px;
  border: 0;
  background-color: #4c975b;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  border: none;
  padding: 5px;
  border-radius: 40px;
  font-family: 'Marcellus', serif;
}

.btn-contato button:hover {
  background-color: #EE9C2E;
}