<header id="header">
    <div class="container1">
        <div class="flex">
            <a href="#"><img src="..//../../assets/img/Logo_animalia.png" alt=""></a>
            <nav>
                <ul>
                    <li><a href="/sobre">SOBRE NÓS</a></li>
                    <li><a href="/produtos">PRODUTOS</a></li>
                    <li><a href="/painel-produtos">CADASTRO DE PRODUTOS</a></li>
                    <li><a href="/treinamentos">TREINAMENTOS</a></li>
                </ul>
            </nav>

            <ng-container *ngIf="!isLoggedIn(); else logado">
              <a class="btn-contato" href="/login"><button>ENTRAR</button></a>
          </ng-container>

          <ng-template #logado>
              <a class="imgLogado" href=""> <img src="..//../../assets/img/banner1.png" alt="Avatar do usuário"> </a>
              <button class="btnSair" (click)="logout()">Sair</button>
            </ng-template>
        </div><!--flex-->
    </div><!--container-->
</header>
