<header id="header">
    <div class="container1">
        <div class="flex">
            <a href="#"><img src="..//../../assets/img/Logo_animalia.png" alt="" height="150px"></a>
            <nav>
                <ul>
                    <li><a href="/sobre">SOBRE NÓS</a></li>
                    <li><a href="/produtos">PRODUTOS</a></li>
                    <li><a href="#">AGENDAMENTOS</a></li>
                    <li><a href="#">TREINAMENTOS</a></li>
                </ul>
            </nav>
            <div class="btn-contato">
                <a href="/login"><button>ENTRAR</button></a>
            </div>
        </div><!--flex-->
    </div><!--container-->
</header>
