<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="banner">
            <div class="initial">
                <h1> <span> Animalia </span>Onde o Amor pelos <span> Pets </span> Encontra a Majestade dos <span> Cavalos! </span></h1>
                <div class="second">
                    <p>Know more about our products clicking the button bellow and see the all products , salve o tricolor paulista amado clube brasileiro tu és forte tu és grande</p>
                </div>
                    <button> Ver Produtos</button>
            </div>
            <!-- <div class="animais">
                <img src="img/animaisI-removebg-preview.png" alt="">
            </div> -->
        </section>
    </main>
</body>
</html>

