<div>
    <h2>Login</h2>
    <form (submit)="login()">
      <label for="username">Nome de Usuário:</label>
      <input type="text" id="username" name= "username" [(ngModel)]="username" required><br>
  
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required><br>
  
      <button type="submit">Entrar</button>
    </form>
  </div>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  
  
