.all{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1500px;
}

.patrocinador1 img{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000;
    cursor: pointer;
}
.patrocinador2 img{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000;
    cursor: pointer;
}
.patrocinador3 img{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000;
    cursor: pointer;
}
.patrocinador4 img{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000;
    cursor: pointer;
}
.patrocinador5 img{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000;
    cursor: pointer;
}