<body>
    <h1>Nossos Patrocinadores</h1> <br>
    <div class="all">
        <div class="patrocinador1">
            <img src="..//../../assets/img/marcaCinco.png" alt="">
        </div>

        <div class="patrocinador2">
            <img src="..//../../assets/img/marcaSete.png" alt="">
        </div>

        <div class="patrocinador3">
            <img src="..//../../assets/img/MarcaSeis.png" alt="">
        </div>

        <div class="patrocinador4">
            <img src="..//../../assets/img/marcaDois.png" alt="">
        </div>

        <div class="patrocinador5">
            <img src="..//../../assets/img/marcaQuatro.png" alt="">
        </div>
    </div>
</body>
