<!-- Rodapé do site -->
<footer>
    <div id="footer_content">
        <div id="footer_contacts">
            <h2>ANIMALIA</h2>
            <p>Cães, Gatos e Cavalos!</p>

            <div id="footer_social_media">
                <a href="" class="footer-link" id="instagram">
                    
                </a>

                <a href="" class="footer-link" id="twitter">
                    
                </a>

                <a href="" class="footer-link" id="facebook">
                    
                </a>
            </div>


        </div>

        <ul class="footer-list">
            <li>
                <h3>Fale Conosco</h3>
            </li>

            <li>
                <a href="" class="footer-link">SAC</a>
            </li>

            <li>
                <a href="#" class="footer-link">Suporte</a>
            </li>

            <li>
                <a href="#" class="footer-link">Contatos</a>
            </li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Produtos</h3>
            </li>

            <li>
                <a href="#" class="footer-link">Categorias</a>
            </li>

            <li>
                <a href="#" class="footer-link">Mais Recentes</a>
            </li>

            <li>
                <a href="#" class="footer-link">Mais Vendidos</a>
            </li>
        </ul>
    </div>

    <div id="footer_copyright">
        ANIMALIA <br>
  2023 all rights reserved
    </div>
</footer>
