@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
    background-color: rgb(59, 105, 59);
    font-family: 'Manrope', sans-serif;
}
h2 {
    color: white; /* Substitua "red" pela cor desejada */
    font-size: 50px; /* Substitua "24px" pelo tamanho de fonte desejado */
    font-family: 'Alfa Slab One', serif;
    margin-top: 200px;
    text-align: center;
  }



.card{
  margin-left: 450px;
  border-radius: 25px;
  background-color: transparent;
}

.card img{
  border-radius: 25px;
  width: 100%;
    box-shadow: 0px 0px 15px #000000;
}


  button {
    font-size: 12px;
    margin-left: 875px;
  }



button {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 background: #21380f;
  font-family: 'Alfa Slab One', serif;
 box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
 overflow: hidden;
 border: none;
}

button:after {
 content: " ";
 width: 0%;
 height: 100%;
 background: #ce6b0d;
 position: absolute;
 transition: all 0.4s ease-in-out;
 right: 0;
}

button:hover::after {
 right: auto;
 left: 0;
 width: 100%;
}

button span {
 text-align: center;
 text-decoration: none;
 width: 100%;
 padding: 18px 25px;
 color: #fff;
 font-size: 1.125em;
 font-weight: 700;
 letter-spacing: 0.3em;
 z-index: 20;
 transition: all 0.3s ease-in-out;
}

button:hover span {
 color: #183153;
 animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
 0% {
  transform: scale(1);
 }

 50% {
  transform: scale(0.95);
 }

 100% {
  transform: scale(1);
 }
}
