
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.pagamentoProducts{
    font-family: 'Alfa Slab One', serif;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Alfa Slab One', serif;
}

.pagamentoProducts th{
    font-size: 27px;
}

.pagamentoProducts td{
    font-size: 22px;
}


.itens{
    display: flex;
    justify-content: space-around;
}

.preco{
    color: #4E6424;
    font: 400;
}

.total{
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;

}

.btnFinish{
    padding: 10px;
    border-style: solid;
    border-color: #4E6424;
    border-radius: 15px;
    color: #4E6424;
    margin-top: 20px;
    font-size: 30px;
}

.btnFinish:hover{
    background-color: #95a775;
}


.divVazia{
    height:200px;
}

@media(max-width: 768px){
  h2{margin-top: 350px;}
}
