<button class="botaoCarrinhoCompras" (click)="toggleCarrinho()">Abrir Carrinho</button>

<input type="text" [(ngModel)]="termoPesquisa" placeholder="Pesquisar por nome do produto">


<!-- Seção do carrinho de compras (defina a classe 'escondido' para ocultar inicialmente) -->
<div class="carrinho" [ngClass]="{'escondido': !mostrarCarrinho}">
    <h3>Carrinho de Compras</h3>
    <ul class="lista-de-itens">
        <!-- Os itens do carrinho serão exibidos aqui -->
        <li *ngFor="let item of carrinhoItens">
            <img src="assets\img\produtos\{{item.foto}}" width="50"> <!-- Exibe a foto do produto -->
            {{ item.nome }} - R$ {{ item.salario }}</li>  <!-- Exibe o nome e o preço -->
    </ul>
    <p>Total: R$ {{ calcularTotal() }}</p> <!-- Exibe o total do carrinho -->
    <button> Fechar Pedido </button>
</div>

<section class="lista-produtos">
    <!-- Início de um loop ngFor que percorre cada objeto 'vaga' na matriz
    'vagas' -->
    <div *ngFor="let produto of produtos | filter: termoPesquisa">
        <!-- Conteúdo do card do produto -->
    
        <div class="card" style="width: 18rem;">
          <div class="desconto">
              <button>10% OFF</button>
              <svg class="heart" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.<path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
            </div>
            <div class="img"><img src="assets\img\produtos\{{produto.foto}}" class="card-img-top" alt="..."></div>

            <div class="card-body">
                <!-- <h5 class="product-title1">Código: {{produto.id}}</h5> -->
                <h5 class="product-title1">{{produto.nome}}</h5>
                <p class="author-title1">{{produto.descricao}}</p>
                <p class="product-price1">R$ {{produto.salario}}</p>
                <button class="button1">COMPRAR</button>
                <svg (click)="adicionarAoCarrinho(produto)" class="cartIcon" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
            </div>
        </div>
    </div>
</section>




